/* common */

  @font-face{ 
    font-family: 'DQ';
    src: url('../fonts/PixelMplus10-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  html{
    height: 100%;
    width: 100%;
    /* cursor: none; */
  }

  body{
    height: 100%;
    width: 600px;
    font-family: 'DQ';
    color: #fff;
    background-color: #000;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

/* common */


.QRscreen{
  position: absolute;
  width: 600px;
  height: 525px;
  border-radius: 20px;
  z-index: 10;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: calc((100vh - 525px) / 2) auto;
  opacity: 1;
  transition: all 3s;
}
.QRscreen.out{
  opacity: 0;
  filter: blur(20px);
}
.QRscreen .guaid{
  color: #000000c0;
  /* background-color: #028abc; */
  font-size: 16px;
  text-align: center;
}
.QRimg{
  width: 300px;
  height: 300px;
}
.QRtext{
  font-size: 24px;
  margin-top: 10px;
  text-align: center;
  transition: color 1s;
  color: #fff;
}
.QRtext.on{
  color: #000;
  animation: blinkEffect 2s 1s infinite;
}
.QRfile{
  position: relative;
  width: 300px;
  height: 300px;
}
.QRfile .QRimg{
  position: absolute;
  top: 0;
  left: 0;
}
/* .QRfile .QRimg.siro{
  width: 270px;
  height: 270px;
  position: absolute;
  top: 15px;
  left: 15px;
} */
.bg_border{
  position: absolute;
  top: 0;
  left: 3.5px;
  width: 300px;
  height: 300px;
  /* background-color: #8be4f0; */
  background-size: 13.63px;
  opacity: 1;
  transition: all 2s;
}
.bg_border.border1{
  background-image:
  linear-gradient(-90deg, #fff 50%, transparent 50%);
}
.bg_border.border2{
  top: 3px;
  background-image:
  linear-gradient(0deg, transparent 50%, #fff 50%);
  background-size: 13.7px 13.7px;
}
.bg_border.border3{
  background-image:
  linear-gradient(-90deg, transparent 50%, #fff 50%);
}
/* .bg_border.border4{
  top: 3px;
  background-image:
  linear-gradient(0deg, #fff 50%, transparent 50%);
  background-size: 13.7px 13.7px;
} */
.bg_border.bordertop{
  background-color: #fff;
}
.bg_border.out{
  opacity: 0;
}

.graph{
  position: absolute;
  width: 600px;
  height: 525px;
  background-color: #000000e1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 6px 4px;
  margin: calc((100vh - 525px) / 2) auto;
  filter: blur(0);
}
.graph.blur{
  filter: blur(10px);
}
.graph .guaid{
  position: absolute;
  top: 25px;
  left: calc(50% - 80px);
  opacity: .7;
  transition: opacity 1s;
}
.graph .guaid.off{
 opacity: 0;
}
.box {
  position: absolute;
  width: 40%;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
  transition: all 1.2s;
}
.percent{
  transform: translateY(-1000px);

}
.percent.anim{
  animation: graphboyoyon 1s 4s forwards;
}
@keyframes graphboyoyon {
  0% { transform: translateY(-1000px); }
  50% { transform: translateY(100px); }
  100% { transform: translateY(0px); }
}
.box.one{
  top: 50px;
  left: calc(50% - 250px);
}
.box.two{
  top: 50px;
  left: calc(50% + 20px);
}
.box.three{
  top:270px;
  left: calc(50% - 250px);
}
.box.four{
  top:270px;
  left: calc(50% + 20px);
}
.box.big{
  transform: translateY(0px) scale(2);
  top: calc(50% - 130px);
  left: calc(50% - 120px);
  /* animation: bigboyo 1s forwards; */
}
/* @keyframes bigboyo {
  0% { transform: scale(1); }
  40% { top: calc(50% - 130px);
    left: calc(50% - 120px); }
  96% { transform: scale(2.3);
    top: calc(50% - 130px);
    left: calc(50% - 120px); }
  100% { transform: scale(2); 
    top: calc(50% - 130px);
    left: calc(50% - 120px);}
} */
.box.small{
  transform: scale(.5);
  opacity: .1;
}
.box .percent {
  position: relative;
  width: 150px;
  height: 150px;
}
.box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.box .percent svg circle {
  position: relative;
  fill: none;
  stroke-width: 10;
  stroke: #f3f3f338;
  stroke-dasharray: 440;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}
.box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.box .percent .number .title .value {
  font-size: 50px;
}
.box .percent .number .title {
  font-size: 22px;
}
.box .graphtext {
  white-space: nowrap;
  padding: 10px 0 0;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.box.one .percent .line.rotate {
  /* stroke-dashoffset: calc(440 - (440 * 18) / 100); */
  /* hsla(色相（H）, 彩度（S）, 輝度（L)  */
  stroke: hsl(150, 66%, 53%);
}
.box.two .percent .line.rotate {
  stroke: hsl(52, 66%, 53%);
}
.box.three .percent .line.rotate {
  stroke: hsl(197, 66%, 53%);
}
.box.four .percent .line.rotate {
  stroke: hsl(340, 66%, 53%);
}
 
@keyframes circleAnim {
  0% {
    stroke-dasharray: 0 440;
  }
  99.9%, to {
    stroke-dasharray: 440 440;
  }
}

.flashscreen{
  position: absolute;
  width: 600px;
  height: 100%;
  z-index: 999;
  background-color: #fff;
  opacity: 0;
  /* filter: blur(2px); */
}
.flashscreen.in{
  animation: flashscreenanime 1s forwards;
}
@keyframes flashscreenanime {
  0% { opacity: 1; }
  30% { opacity: 1; }
  100% { opacity: 0; }
}

.blackout{
  position: absolute;
  width: 600px;
  height: 100%;
  z-index: 999;
  background-color: #000;
  opacity: 0;
}
.blackout.in{
  opacity: 1;
  transition: all 3s 1s linear;
}

.main{
  z-index: 99;
  position: relative;
  width: 600px;
  height: 525px;
  margin: calc((100vh - 550px) / 2) auto;
  opacity: 1;
}
.main.off{
  transform: scaleY(0);
  opacity: 0;
}
.bgi{
  width: 600px;
  height: 300px;
  object-fit: cover;
  object-position: 10% 50%;
  z-index: -1;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin: 100px 0 125px;
  transform: scaleY(0);
  filter: grayscale(10%);
  transition: transform 2s 0s,
              border 0s 0s;
}
.bgi.apear{
  transform: scaleY(1);
}
.bgi.apear2{
  border-color: #fff;
}
.katsuya{
  position: absolute;
  top: 30%;
  left: calc(50% - 65px);
  width: 120px;
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 2.3s;
}
.katsuya.in{
  opacity: 1;
}
.katsuya.flash{
  animation: blinkEffect .1s step-end 3;
}
.frame{
  position: absolute;
  border: 4px solid #fff;
  border-radius: 4px;
  outline: 1.5px solid #303029;;
  background-color: #303029;
  opacity: 0;
  transition: opacity 0s 3s;
}
.frame.apear{
  opacity: 1;
}
.gameover.over{
  border-color: #dc6216;
  color: #dc6216;
  /* transform: border 0s 0s; */
}
.readme{
  top: 20px;
  left: 30px;
  padding: 4px 12px;
  line-height: 30px;
}
.mairei{
  top: 30px;
  right: 50px;
  padding: 4px 12px;
  line-height: 30px;
}
.command{
  bottom: -30px;
  left: 10px;
}
.frame.check{
  bottom: 50px;
  left: 150px;
  z-index: 2;
  display: none;
}
.frame.check.open{
  display: block;
}
.command dt,
.check dt{
  text-align: center;
  font-weight: normal;
  border-bottom: 2px solid #fff;
  padding: 6px 10px;
}
.check dt{
  padding: 6px 4px 6px 10px;
}
.command-list{
  position: relative;
  padding: 8px 8px 8px 26px;
}
.check-list{
  position: relative;
  padding: 8px 8px 8px 36px;
}
.blink::before{
  content: url("../img/矢印.png");
  display: inline-block;
  vertical-align: middle;
  transform: scale(0.06);
  position: absolute;
  top: -198px;
  left: -125px;
  animation: blinkEffect .6s step-end infinite;
}
.textbox{
  bottom: 0px;
  left: 185px;
  width: 400px;
  height: 140px;
  padding: 8px;
  transition: opacity 0s 2s;
}
.text{
  width: 100%;
  white-space: nowrap;
  caret-color: transparent;
  padding: 4px;
}

@keyframes blinkEffect {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes typing{
  0% {width: 0;}
}
@keyframes blink{
  50% {border-right-color: transparent;}
}
